@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Jal_Onuel';
  background: linear-gradient(45deg, #FC354C 0%,#0ABFBC 83%);
  min-height: 100vh;
}

input[type="text"]{
  width: 340px; 
  height: 60px; 
  font-size: 24px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
button{
  margin: 0 17px;
  background-color: #980000;
  border: none;
  border-radius: 10px;
  width: 105px; 
  height: 65px; 
  font-size: 24px;
  color: #fafafa;
}
button:hover{
  background-color: #5CD1E5;
}
ul{
  padding: 0;
  list-style-type: none;
}
li{
  font-size: 26px;
  display: flex;
  justify-content: center;
}
li > span {
  padding: 5px 5px;
}
li > button{
  height: 30px; 
  border-radius: 5px;
}